@{
  ViewData["TITLE"] = "USER LOGIN";
}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <svg xmlns="http://www.w3.org/2000/svg" style='margin:auto;width:68px;' viewBox="0 -960 960 960">
      <path
        d="M480-64q21.462 0 43.846-2.884 22.385-2.885 54.385-10.193Q655.923-12.692 756.654-28.5q100.731-15.807 147.962-99.423 40.615-69.308 28.23-142.423Q920.462-343.462 861-400.854q.769-7.608.769-18.627v-19.211q56.616-52 68.154-128.539 11.539-76.538-23.769-139.231-35.692-61.692-101.846-87.731-66.154-26.038-135.539-9.269-22.154-58.308-73.5-95.423Q543.923-936 480-936q-63.923 0-115.269 37.115-51.346 37.115-72.5 95.423-70.385-16-136.154 9.654-65.77 25.654-101.231 87.346-36.308 63.462-24.77 140 11.54 76.539 68.154 127.839v18.642q0 11.019.77 19.212-59.462 57.307-71.846 130.807-12.385 73.501 28.23 142.039Q102.615-44.308 203.346-28.5q100.731 15.808 179.423-48.577 31 7.308 53.385 10.193Q458.538-64 480-64Zm-157-36q-58.769 36.615-127.885 22.308Q126-92 92.231-149.308q-28.077-46.153-21.77-101.115 6.308-54.961 48.154-93.961 9.692 41 28.539 77.615Q166-230.154 192.5-198.154q26.5 32 59.5 56.846 33 24.847 71 41.308Zm314 0q38-16.461 71.093-40.868 33.092-24.406 59.907-57.286 26-32 45.346-68.615 19.347-36.615 29.039-77.615 40.846 39 47.154 93.961 6.307 54.962-21.77 101.115Q834-92 764.885-77.692 695.769-63.385 637-100Zm-157.181-7.769q-138.204 0-235.127-97.062t-96.923-235.206q0-121.799 77.539-212.958 77.538-91.159 193.538-114.313-.231 4.693-.231 9.154V-750q0 95.393 65.496 160.889Q549.607-523.615 645-523.615q42.154 0 76.896-12.174t63.726-36.134q12.301 31.538 19.455 64.546 7.154 33.008 7.154 67.377 0 138.128-97.104 235.18-97.104 97.051-235.308 97.051ZM355.964-345.846q-21.349 0-36.964-15.728-15.615-15.728-15.615-37.077 0-22.118 15.728-37.349 15.728-15.231 37.077-15.231 22.118 0 37.348 15.344 15.231 15.343 15.231 37.461 0 21.349-15.343 36.964-15.344 15.616-37.462 15.616Zm248.077 0q-21.349 0-36.964-15.728-15.615-15.728-15.615-37.077 0-22.118 15.728-37.349 15.728-15.231 37.077-15.231 22.118 0 37.348 15.344 15.231 15.343 15.231 37.461 0 21.349-15.343 36.964-15.344 15.616-37.462 15.616ZM113.384-506Q81.077-540.154 74-592.077q-7.077-51.923 17.462-94Q119.308-735 171.692-752.5q52.385-17.5 105.769-.423-34.372 20.289-62.148 47.414-27.775 27.124-48.775 58.393-21 31.27-34.731 66.808-13.73 35.539-18.423 74.308Zm734.232 0q-4.923-38.769-18.154-74.308-13.231-35.538-34.976-66.955-20.976-31.416-49.423-58.423-28.447-27.006-60.755-47.237 51.615-17.846 104 .038 52.384 17.885 81.231 66.808 23.538 42.077 16.846 94-6.693 51.923-38.769 86.077ZM644.52-567.385q-75.674 0-128.905-53.23-53.23-53.231-53.23-129.385 0-6.692.115-14.385.115-7.692 1.346-14.384 5.846 1 11.577 2.884Q481.154-774 487-772.231q45.704 1 86.506 12.769 40.802 11.77 76.302 32.539 35.5 21.538 65.115 51.077Q744.538-646.308 766-610q-23.139 20.633-52.389 31.624-29.25 10.991-69.091 10.991Zm-31.905-220q-30.769-14.077-63.827-21.346T480.026-816q-33.621 0-66.208 6.884-32.587 6.885-60.818 19.423 8.615-43.076 44.269-72.807 35.654-29.731 82.731-29.731 47.077 0 83.5 30.116 36.423 30.115 49.115 74.73ZM166.538-647.616ZM480-816Zm170.308 89.077Zm144.154 79.307ZM768-198.154Zm-575 0Z" />
    </svg>
    @if (ViewData["pageView"] != null && ViewData["pageView"]?.ToString() == "admin")
    {
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Login as Admin
      </h2>
    }else{
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Sign in to your account
      </h2>
    }
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action='login/Submit?redirect=@ViewData["pageView"]' method="POST">
      @if (TempData["message"] != null)
      {
        <div class='message @(TempData["variant"])'>@TempData["message"]</div>
      }
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input id="email" placeholder="Enter your email address" name="Email" type="email" autocomplete="email"
            required
            class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <input id="password" name="Password" type="password" autocomplete="current-password" required
            placeholder="Enter your password"
            class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
          in</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a href="/registration" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Register now!</a>
    </p>
  </div>
</div>