@{
  ViewData["Title"] = "Products ";
}
@model List<Product>;
<style>
  header {
    background: none !important;
    color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  header * {
    color: white !important;
    font-weight: 500;
  }
</style>
<div class="text-center home-view fade-in">
  <div class="home-top-view">
    <div class="home-top-view-text">
      <h2>Floral Fusion Express</h2>
      <p>
        Experience the artistry of nature's beauty at your fingertips. At Floral Fusion Express, we've reimagined the
        way
        you embrace the charm of flowers.
      </p>
      @if (ViewData["User"] != null)
      {
        <a href="/login"
          class="m-3 flex items-center justify-center rounded-md border border-transparent px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700" style="width: 260px;">
          Check Your Cart <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>
        </a>
      }
      else
      {
        <a href="/login"
          class="m-3 flex items-center justify-center rounded-md border border-transparent px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">
          Sign In <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
          </svg>

        </a>
      }
    </div>
    <div class="top-view-bg">
      <div class="bg-layer"></div>
      <img src="home-view-image.jpg" alt="flowers images" />
    </div>
  </div>
  <div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        @foreach (var product in Model)
        {
          <article class="flex max-w-xl flex-col items-start justify-between article-23cs shadow-md">
            <img src="@Url.Content(product.Image)" alt="">
            <div class="group relative">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  <span>@product.Title</span>
                  <div>Price $@product.Price</div>
                </a>
              </h3>
              <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">@product.Description</p>
            </div>
            <div style="width: 100%" id="product-@product.Id">
              @if (ViewData["User"] != null)
              {
                <button onclick="addItemToCart(@product.Id)" style="width: 82%;margin:12px auto;"
                  class="m-3 flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">
                  Add to <svg style="margin-left: 10px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>
                </button>
                <p class="message"></p>
              }
              else
              {
                <a href="/login"
                  class="m-3 flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">
                  Add to <svg style="margin-left: 10px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>
                </a>
              }
            </div>
          </article>
        }
      </div>
    </div>
  </div>

</div>
